/* @font-face {
	font-family: "yourDictFontAwesome";
	src: url(../lib/fontawesome-webfont.ttf) format("truetype");
	font-weight: normal;
	font-style: normal;
} */

.list {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  user-select: none;
}
.list::-webkit-scrollbar {
  width: 3px;
}
.list::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.3);
}
.list .list-item {
  display: flex;
  width: 100%;
  /* height: 48px; */
  cursor: pointer;
  padding-right: 60px;
  box-sizing: border-box; 
  margin:6px 0 6px 10px;
  border-top: 1px solid #ccc;
}
.list .list-item:first-child {
    border-top:none;
}

.list .list-item-selected {
  background-color: rgba(0, 0, 0, 0.08);
}
.list .list-item-icon {
  width: 60px;
  height: 48px;
  line-height: 48px;
  text-align: center;
}
.list .list-item-icon > img {
  max-width: 32px;
  vertical-align: middle;
}
.list-item .hint{
    color: #666;
    font-size: 14px;
    padding-left: 10px;
}

.list .list-item-content {
  flex: 1;
  width: 0;
}
.list .list-item-content > div {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.list .list-item-content .list-item-title {
  color: #212121;
  padding-top: 2px;
  height: 28px;
  line-height: 28px;
  font-size: 20px;
}
.list .list-item-content .list-item-description {
  color: rgba(0, 0, 0, 0.5);
  height: 22px;
  line-height: 22px;
  font-size: 16px;
}
.list .quick-index-identity {
  position: fixed;
  top: 0;
  right: 0;
  width: 60px;
  font-size: 16px;
  color: #212121;
  font-weight: 200;
}
.list .quick-index-identity > div {
    height: 60px;
    line-height: 60px;
  text-align: center;
}
