// === main-part ===
.fb-viewer {
  a {
    text-decoration: none;
    color: #333;
    display: block;
  }
  .fa-label {
    box-sizing: border-box;
    padding-left:2px;
    cursor: pointer;
    width: 100%;
    line-height: 2em;
    transition: background 0.2s ease 0s;
  }
}

.ellipsis{
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
